<div class="full-screen setting-container">
  <div class="back-btn floating-btn" (click)="goBack()">
    <span>
      <i class="anticon anticon-left"></i>
    </span>
  </div>
  <div class="content">
    <div class="body">
      <img class="avatar" src="./assets/img/default-avatar.png">
      <nz-divider nzType="horizontal" nzText="工程信息"></nz-divider>
      <nz-input-group  [nzPrefix]="projectname">
      <input nz-input  [(ngModel)]="pro.project_pname" #usernameInput  oninput="change()"  [nzSize]="'large'" placeholder="工程名" >
      </nz-input-group>
      <nz-input-group  [nzPrefix]="projectdescribe">
      <input nz-input [(ngModel)]="pro.project_describe" #userHomeInput  oninput="change()"  [nzSize]="'large'" placeholder="描述" >
      </nz-input-group>
      <nz-input-group  [nzPrefix]="project_establisher">
      <input nz-input [(ngModel)]="pro.project_establisher" #userDescribeInput  oninput="change()"  [nzSize]="'large'" placeholder="拥有者" >
      </nz-input-group>
    </div>
    <div style="align-items:left">      
        <nz-radio-group [(ngModel)]="pro.project_property" nzName="test">
         <label nz-radio nzValue=0>共有</label>
         <label nz-radio nzValue=1>私有</label>
      </nz-radio-group>
    </div>
    <nz-list [nzDataSource]="pro.content" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading" [nzLoadMore]="loadMore">
        <ng-template #item let-item index as i>
          <nz-list-item [nzActions]="[editAction,moreAction]">
              <ng-template #editAction><i nz-icon (click)="openAddListModal(item.membername)" type="edit" ></i></ng-template>
              <ng-template #moreAction><i nz-icon type="delete" (click)="delete()" theme="outline"></i></ng-template>
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              nzAvatar="./assets/img/default-avatar.png"
              [nzDescription]=getAuthority(item.project_authority) >
              <ng-template #nzTitle>
                {{item.membername}}
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
      <button nz-button class="submitt"  (click)="click_button()"  nzType="primary" nzBlock>提交</button>
</div>
<ng-template #projectname><i nz-icon type="project" theme="outline"></i></ng-template>
<ng-template #projectdescribe><i nz-icon type="copy" theme="outline"></i></ng-template>
<ng-template #project_establisher><i nz-icon type="user"></i></ng-template>
<nz-modal [(nzVisible)]="addListModalVisible"
          [nzTitle]="'新建工程'"
          [nzClosable]="true"
          [nzWidth]="420"
          [nzOkText]="'确定'"
          [nzCancelText]="'取消'"
          [nzMaskClosable]="true"
          (nzOnCancel)="closeAddListModal()"
          (nzOnOk)="setAuthority()">
  <nz-radio-group [(ngModel)]="project_authority_ready">
      <label nz-radio nzValue="0">观察者</label>
      <label nz-radio nzValue="1">开发者</label>
      <label nz-radio nzValue="2">管理员</label>
    </nz-radio-group>
</nz-modal>
<nz-modal [(nzVisible)]="addListModalVisible"
          [nzTitle]="'新建工程'"
          [nzClosable]="true"
          [nzWidth]="420"
          [nzOkText]="'新建'"
          [nzCancelText]="'取消'"
          [nzMaskClosable]="true"
          (nzOnCancel)="closeAddListModal()"
          (nzOnOk)="addAuthority(listInput.value,listInput_des.value); listInput.value = '';">
  <form nz-form>
    <nz-form-item>
      <nz-form-control>
        <input nz-input
               #listInput
               name="listTitle"
               placeholder="用户名">    
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-radio-group [(ngModel)]="project_property">
      <label nz-radio nzValue="0">公有</label>
      <label nz-radio nzValue="1">私有</label>
    </nz-radio-group>
</nz-modal>
<ng-template #loadMore>
    <div class="loadmore">
      <button nz-button (click)="onLoadMore()" [nzSize]="size" nzType="dashed"><i nz-icon type="plus" theme="outline"></i></button>
    </div>
  </ng-template>