<div class="full-screen setting-container">
  <div class="back-btn floating-btn" (click)="goBack()">
    <span>
      <i class="anticon anticon-left"></i>
    </span>
  </div>
  <div class="content">
    <div class="body">
      <img class="avatar" src="./assets/img/default-avatar.png">
      <nz-divider nzType="horizontal" nzText="用户信息"></nz-divider>
      <input nz-input  [(ngModel)]="user.user_name" #usernameInput  (ngModelChange)="change()" [nzSize]="'large'" placeholder="用户名" (blur)="validateUsername(usernameInput.value)">
      <input nz-input [(ngModel)]="user.user_email" #userHomeInput  (ngModelChange)="change()"  [nzSize]="'large'" placeholder="地址" (blur)="validatePassword(userpasswordInput.value)">
      <input nz-input [(ngModel)]="user.user_company" #userCompanyInput  (ngModelChange)="change()"  [nzSize]="'large'" placeholder="公司" (blur)="validateUsername(userpasswordInput.value)">
      <input nz-input [(ngModel)]="user.user_signature" #userDescribeInput  (ngModelChange)="change()"  [nzSize]="'large'" placeholder="描述" (blur)="validateUsername(userpasswordInput.value)">
      <input nz-input [(ngModel)]="user.user_location" #userHomeInput (ngModelChange)="change()"  [nzSize]="'large'" placeholder="地址" (blur)="validateUsername(userpasswordInput.value)">
      <input nz-input [(ngModel)]="user.user_password"#userpasswordInput (ngModelChange)="change()"   [nzSize]="'large'" type="password" placeholder="密码" (blur)="validateUsername(userpasswordInput.value)">
    </div>
        <nz-radio-group [(ngModel)]="user.user_gender" nzName="test">
         <label nz-radio nzValue="1">男</label>
         <label nz-radio nzValue="0">女</label>
      </nz-radio-group>
      <nz-divider [nzType]="'horizontal'" [nzText]="'应用设置'"></nz-divider>
      <div  style="align-items:left;margin-bottom: 20px">主题:  <nz-switch [(ngModel)]="switchValue"></nz-switch></div>
      <button (click)="click_button()" nz-button  nzType="primary" nzBlock>提交</button>
  </div>
</div>