      <nz-layout class="right-control">
          <nz-header class="header-wrapper">
            <app-header [suggetContent]=page [listTitle]=listitle></app-header>
          </nz-header>
        </nz-layout>
  <nz-content>
              <div>
                  <div>
                      <form action="/ ..."  method="GET">
                          <img src="/assets/img/default-avatar.png" height=120 width="=120" style=" margin-left: 8px; -webkit-border-radius: 60px 60px 60px 60px;border-radius: 60px 60px 60px 60px;"/><br>
                          <span>
                              <label style="margin-left:5px;font-size: 11px;letter-spacing: 1px;">用户名:</label>
                              <label style="margin-left:5px;font-size: 11px;letter-spacing: 1px;">balala</label>
                              <label style="margin-left:5px;font-size: 11px;letter-spacing: 1px;">账号ID:</label>
                              <label style="margin-left:5px;font-size: 11px;letter-spacing: 1px;">2367488</label>
                          </span>
                      </form>
      
                  </div>
      
                  <div style="font-size: 15px;letter-spacing: 3.0px;">
                      <form action="/..." method="GET">
                          <ul style="margin-left:80px">
                              <li style="font-weight: 700;">性别：<label id="gender1" style="font-weight: 400;margin-left: 29px"><input type="radio" name="gender" value="0" checked>M</label>
                                      <label  id="gender2" style="font-weight: 400"><input type="radio" name="gender" value="1" disabled>F</label></li>
                              <li style="font-weight: 700;">所属单位：<label style="font-weight: 400;">天津大学</label></li>
                              <li style="font-weight: 700;">居住地址：<label style="font-weight: 400;">天津市津南区</label></li>
                              <li style="font-weight: 700;">验证邮箱：<label style="font-weight: 400;">782177898@qq.com </label>
                              <li style="font-weight: 700;">个人简介: <textarea name="aboutme"  id="aboutme" rows="8" readonly style="width:500px;margin-top:5px;margin-left: 10px">个人介绍</textarea></li>
                          </ul>
                      </form>
                  </div>
              </div>
  </nz-content>
