<head>
	<meta charset="utf-8">
	<title>注册 - 文档管理 - File Manage system</title>
</head>
<body>
<div id="box"></div>
<div class="cent-box register-box">
	<div class="cent-box-header">
		<h2 class="sub-title">管理您的文档 - File Manage system</h2>
	</div>

	<div class="cont-main clearfix">
		<div class="index-tab">
			<div class="index-slide-nav">
				<a [routerLink]="['/login']" >登录</a>
				<a [routerLink]="['/regist']"  class="active">注册</a>
				<div class="slide-bar slide-bar1"></div>				
			</div>
		</div>

		<div class="login form">
			<div class="group">
				<div class="group-ipt email">
					<input [(ngModel)]="thisregist.user_email" type="email" name="email" id="email" class="ipt" placeholder="邮箱地址" required>
				</div>
				<div class="group-ipt user">
					<input [(ngModel)]="thisregist.user_name"type="text" name="user" id="user" class="ipt" placeholder="选择一个用户名" required>
				</div>
				<div class="group-ipt password">
					<input [(ngModel)]="thisregist.user_password"type="password" name="password" id="password" class="ipt" placeholder="设置登录密码" required>
				</div>
				<div class="group-ipt password1">
					<input [(ngModel)]="password_re"type="password" name="password1" id="password1" class="ipt" placeholder="重复密码" required>
				</div>
			</div>
		</div>

		<div class="button">
			<button (click)="regist()" type="submit" class="login-btn register-btn" id="button">注册</button>
		</div>
	</div>
</div>

<div class="footer">
	<p>文档管理系统</p>
	<p>Designed By Wenxu Li,Shuhan Li,Peicheng Li,JingJing Zhu  2018</p>
</div>

</body>