<div class="header-container">
  <div class="list-title-wrapper">
    {{ listTitle }}
  </div>
  <div class="list-title-wrapper-fu">
    {{time}}好,{{username}}
  </div>
  <div class="suggest-btn-wrapper">
    <nz-dropdown [nzTrigger]="'click'" [nzClickHide]="false" [nzPlacement]="'bottomRight'">
      <button nz-dropdown nz-button [nzType]="'primary'">
        <i class="anticon anticon-bulb"></i>建议
      </button>
      <!-- hack nz-zorro! -->
      <div nz-menu class="dropdown-content-wrapper">
          <div class="suggest-container container">
         {{suggetContent}}
         </div>
      </div>
    </nz-dropdown>
  </div>
  <div class="action-btn-wrapper">
      <a nz-dropdown (click)=goto()>
        <i class="anticon anticon-setting"></i>
        设置
      </a>
  </div>
</div>
