      <nz-layout class="right-control">
          <nz-header class="header-wrapper">
            <app-header [suggetContent]=page [listTitle]=listitle [routerNavigate]=navigateTo></app-header>
          </nz-header>
        </nz-layout>
  <nz-content>
              <div>
                  <div>
                      <form action="/ ..."  method="GET">
                          <img src="./assets/img/default-avatar.png" height=120 width="=120" style=" margin-left: 8px; -webkit-border-radius: 60px 60px 60px 60px;border-radius: 60px 60px 60px 60px;"/><br>
                          <span>
                              <label style="margin-left:5px;font-size: 11px;letter-spacing: 1px;">用户名:{{user.user_name}}</label>
                              <br>
                              <label style="margin-left:5px;font-size: 11px;letter-spacing: 1px;">简介:{{user.user_signature}}</label>
                          </span>
                      </form>
      
                  </div>
      
                  <div style="font-size: 15px;letter-spacing: 3.0px;">
                      <form action="/..." method="GET">
                          <ul style="margin-left:80px">
                              <li style="font-weight: 700;">性别：g</li>
                              <li style="font-weight: 700;">所属单位：<label style="font-weight: 400;">{{user.user_company}}</label></li>
                              <li style="font-weight: 700;">居住地址：<label style="font-weight: 400;">{{user.user_location}}</label></li>
                              <li style="font-weight: 700;">验证邮箱：<label style="font-weight: 400;">{{user.user_email}}</label>
                          </ul>
                      </form>
                  </div>
              </div>
  </nz-content>
